@model IEnumerable<WebApplication6.Models.Product>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />
<center>
    <p>
        <a asp-action="AddProduct" class="btn btn-secondary">Add Product</a>
    </p>
</center>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isAvailable)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                <img src="~/images/@item.Image" width="50px" height="50px"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isAvailable)
            </td>
          
            <td>
                
                    <a href="/Admin/EditProduct/@item.Id" class="btn btn-outline-secondary" style="display:inline">Edit</a>
            
                
                    <button asp-action="Delete" class="btn btn-outline-primary" style="display:inline">Delete</button>
               
            </td>
        </tr>
}
    </tbody>
</table>
