@model WebApplication6.ViewModels.CartIndexViewModel

@{
    ViewData["Title"] = "Index";
    
}
@section Head{ 
    <link href="~/css/cart.css" rel="stylesheet"/>
}
}
<div class="cart-section">
    <div class="cart-cover">
        <p class="cart-title">My Cart</p>
    </div>

    <div class="cart-items">
        <p class="cart-details">You have @Model.Cart.Lines.Count() products in cart</p>
        @foreach (var line in Model.Cart.Lines)
        {
        <div style="width:100%;
                    max-width: 400px;
                    border-right: 1px solid;
                    border-bottom: 1px solid;
                    margin: 2rem auto;
                    border-radius: 8px;
                    padding: 2rem;
                    background: white;
                    position: relative;">
            <form asp-action="RemoveFromCart" method="post">
            <input type="hidden" value="@line.Product.Id" name="id" />
            <button type="submit" class="cart-item-remove">&#x274C</button>

            </form>
            <p class="cart-item-title">@line.Product.Name</p>
            <div class="cart-item-row">
                <p style="text-align:left;margin:0;font-weight:bold">
                    Unit
                    <span style="float:right;font-weight:300"> Kg/Dozen</span>
                </p>
            </div>

            <div class="cart-item-row">
                <p style="text-align:left;margin:0;font-weight:bold">
                    Quanity
                    <input type="number" style="float:right;width:35px" value="@line.Quantity" onChange="setQuantity(@line.Product.Id,this.value,@line.Product.Price)"/>
                </p>
            </div>
            <div class="cart-item-row">
                <p style="text-align:left;margin:0;font-weight:bold">
                    Cost
                    <span style="float:right;font-weight:300">@line.Product.Price</span>
                </p>
            </div>
           
            <div class="cart-item-row">
                <p style="text-align:left;margin:0;font-weight:bold">
                    Total
                    <span id="@line.Product.Id" style="float:right;font-weight:300">PKR @(line.Product.Price*(decimal)line.Quantity)</span>

            </p>


            </div>

            </div>
        }
    </div>

    <div>
        <p class="display-4" style="padding:0 1.5rem">Total</p>

    </div>
    <hr />
    <div class="bill">
        <p style="text-align:left;font-weight:bold; margin-bottom:1rem">
            Subtotal
            <span id="subtotal" style="float:right;font-weight:300;font-style:oblique">Rs @Model.Cart.CalculateTotal()</span>
        </p>
        <p style="text-align:left;font-weight:bold;margin-bottom:1rem">
            Shipping
            <span  style="float:right;font-weight:300;font-style:oblique">Delivery Charges: 0</span>
        </p>
        <p style="text-align:left;font-weight:bold;margin-bottom:1rem">
            Total
            <span id="total" style="float:right;font-weight:300;font-style:oblique">Rs @Model.Cart.CalculateTotal()</span>
        </p>
        <br />
        <div style="text-align:center">
            <a class="btn btn-secondary" href="/#products">Back to Shop</a>
            <a class="btn btn-dark" href="/order/checkout" >Checkout</a>
        </div>
    </div>

  


    </div>
    
    <script>

        function setQuantity(id, quantity,price) {
            
            console.log("Ss");
            $.ajax({
                url: "/api/cart",
                contentType: "application/json",
                method: "POST",
                data: JSON.stringify({
                    Id: id,
                    Quantity: quantity

                }),
                success: function (result) {
                    let total_per_item = price * quantity;
                    console.log('successfuly added', result);
                    document.getElementById("subtotal").innerText = "Rs" + result[0];
                    document.getElementById("total").innerText = "Rs" + result[0];
                    document.getElementById(id).innerHTML = "PKR " + total_per_item;

                },
                error: function (err) {
                    console.log("error", err.status)
                }

            })
        }
    </script>
